body {
	overflow-x: hidden;
}
.isicheckout {
	height: 255px !important;
	overflow: auto;
	/* margin-bottom: 300px; */
}
.rowcancel:hover {
	background-color: rgb(250, 181, 181) !important;
	cursor: pointer;
}
.bg-gradient {
	background: rgb(255, 0, 202);
	background: linear-gradient(
		324deg,
		rgb(217, 0, 255) 0%,
		rgb(98, 0, 255) 100%
	);
	border: none;
}
.bg-gra {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		17deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 156, 7, 1) 0%,
		rgba(232, 255, 0, 1) 100%
	);
}
.mypage {
	margin-top: -190px;
}
.jumbotron {
	background: rgb(98, 0, 255);
	height: 240px;
	margin-top: -70px;
	border-radius: 0 0 900px 900px;
	transform: scaleX(1.123);
	z-index: 1;
}
.card-search {
	height: 80px;
}
.bg-nav {
	background-color: transparent;
	z-index: 1000;
}
.bg-nav2 {
	background-color: rgb(98, 0, 255);
}
.bg-pink {
	background-color: rgb(217, 0, 255);
	transition: 0.3s;
}
.bg-pink:hover {
	background-color: rgb(158, 5, 185);
}
.bg-ungu {
	background: rgb(98, 0, 255);
	color: white;
	transition: 0.2s;
}
.bg-ungu:hover {
	background: rgb(87, 2, 224);
	text-decoration: none;
}
.inisial {
	cursor: pointer;
}
.inisial a:hover {
	text-decoration: none;
}
.kecil {
	display: none;
	font-size: 16px;
	color: rgb(241, 240, 240);
	transition: 0.3s;
}
.inisial:hover .kecil {
	display: inline;
}
section {
	margin-top: 40px;
}
.section-title {
	color: black;
}
.section-title-history {
	color: black;
}
.section-title-history::after {
	content: "";
	display: block;
	padding: 2px;
	width: 50px;
	height: 3px;
	background: rgb(255, 187, 0);
	border-radius: 10px;
}
.judul {
	color: rgb(98, 0, 255);
	font-weight: bold;
}
.judul::after {
	content: "";
	display: block;
	padding: 2px;
	width: 30px;
	margin: auto;
	height: 3px;
	background: rgb(255, 187, 0);
	border-radius: 10px;
	/* border-bottom: 2px solid rgb(98, 0, 255); */
}

.btn-his {
	border: 0;
	padding: 8px 15px 8px 15px;
	border-radius: 5px;
	text-decoration: none;
	background-color: rgb(255, 187, 0);
	transition: 0.2s;
	font-size: 14px;
	font-weight: bold;
}
.btn-his:hover {
	text-decoration: none;
	background-color: rgb(226, 167, 6);
}
.text-card {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}
.text-card span {
	color: rgb(98, 0, 255);
}
@media (max-width: 576px) {
	.jumbotron {
		height: 220px;
	}
}
